QWidget#recorder{
    background: #ececec;
    border-style: outset;
    border-radius: 15px;
    border-color: #0088ff;
    border-width: 2px;
}

QLCDNumber#recordTime{
    background: transparent;
    color: #0088ff;
}

QPushButton#stopButton{
    background: rgba(128,128,128,0);
    border-radius: 5px;
    border-image: url(./buttons/stop.svg);
}
QPushButton#stopButton:hover{
    background: rgba(128,128,128,0.2);
}
QPushButton#stopButton:pressed{
    background: rgba(128,128,128,0.5);
}
