QLabel{
    background: transparent;
    font-family: 'Consolas','Microsoft YaHei UI';
}

/*title bar*/
QWidget#titleBar{
    background: #0088ff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
QWidget#windowIcon{
    background: transparent;
    border-image: url(./required/icon.png);
}
QLabel#windowTitle{
    font-size: 40px;
    color: #000000;
}
QToolButton#showmin{
    background: #13f013;
    border-radius: 10px;
}
QToolButton#showmin:hover{
    background: #17d817;
}
QToolButton#showmax{
    background: #f0f008;
    border-radius: 10px;
}
QToolButton#showmax:hover{
    background: #e4e40f;
}
QToolButton#closeWindow{
    background: #ff0f0f;
    border-radius: 10px;
}
QToolButton#closeWindow:hover{
    background: #ee0e0e;
}

/*contents*/
QWidget#content{
    background: #eeeeee;
    border-style: outset;
    border-color: #0088ff;
    border-width: 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

QPushButton#recordButton{
    background: transparent;
    border: none;
    border-radius: 15px;
    border-image: url(./required/buttons/record.png);
}
QPushButton#recordButton:hover{
    background: #dfdfdf;
}
QPushButton#recordButton:pressed{
    background: #c9c9c9;
}

QWidget#recordAreaSet{
    background: transparent;
    font-family: Consolas,'Microsoft YaHei UI';
}
QLabel#recordAreaLabel{
    background: transparent;
    font-size: 50px;
    color: #000000;
}
QRadioButton#recordFullScreen{
    background: transparent;
    font-size: 40px;
    color: #000000;
    font-family: Consolas,'Microsoft YaHei UI';
}
QRadioButton#recordFullScreen:indicator:unchecked{
    background: transparent;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordFullScreen:indicator:unchecked:hover{
    background: #b9deff;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordFullScreen:indicator:unchecked:pressed{
    background: #007eec;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordFullScreen:indicator:checked{
    background: #0088ff;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordFullScreen:indicator:checked:hover{
    background: #007eec;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordFullScreen:indicator:checked:pressed{
    background: #0079e4;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordCustomArea{
    background: transparent;
    font-size: 40px;
    color: #000000;
    font-family: Consolas,'Microsoft YaHei UI';
}
QRadioButton#recordCustomArea:indicator:unchecked{
    background: transparent;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordCustomArea:indicator:unchecked:hover{
    background: #b9deff;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordCustomArea:indicator:unchecked:pressed{
    background: #007eec;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordCustomArea:indicator:checked{
    background: #0088ff;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordCustomArea:indicator:checked:hover{
    background: #007eec;
    border-radius: 5px;
    border: 2px solid #000000;
}
QRadioButton#recordCustomArea:indicator:checked:pressed{
    background: #0079e4;
    border-radius: 5px;
    border: 2px solid #000000;
}
QLabel#areaPosition{
    background: transparent;
    font-family: Consolas,'Microsoft YaHei UI';
    font-size: 40px;
}
QLineEdit#areaXPosition{
    background: transparent;
    border-radius: 10px;
    border: 2px solid #0088ff;
    font-family: Consolas,'Microsoft YaHei UI';
    font-size: 35px;
}
QLineEdit#areaYPosition{
    background: transparent;
    border-radius: 10px;
    border: 2px solid #0088ff;
    font-family: Consolas,'Microsoft YaHei UI';
    font-size: 35px;
}
QLineEdit#areaWidth{
    background: transparent;
    border-radius: 10px;
    border: 2px solid #0088ff;
    font-family: Consolas,'Microsoft YaHei UI';
    font-size: 35px;
}
QLineEdit#areaHeight{
    background: transparent;
    border-radius: 10px;
    border: 2px solid #0088ff;
    font-family: Consolas,'Microsoft YaHei UI';
    font-size: 35px;
}
QWidget#recordPreviewImage{
    background: transparent;
    border-image: url(./required/buttons/desktop.png);
}
QWidget#recordAreaPreview{
    background: rgba(235,235,235,0.6);
    border: 2px solid #0088ff;
}

QTabWidget#videosAndSettings{
    background: transparent;
    font-family: Consolas,'Microsoft YaHei UI';
    border: none;
}
QTabWidget#videosAndSettings:pane{
    background: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #0088ff;
}
QTabWidget#videosAndSettings:tab-bar{
    background: transparent;
    border: none;
}
QTabBar:tab{
    background: #2d9dff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 35px;
    width: 170%;
    min-height: 60%;
}
QTabBar:tab:hover{
    background: #44a8ff;
}
QTabBar:tab:selected{
    background: #0088ff;
}

QTableWidget#videoList{
    background: transparent;
    color: #000000;
    font-family: Consolas,'Microsoft YaHei UI';
    border: 1px solid #0088ff;
    border-radius: 15px;
}
QHeaderView#videoListHHeader{
    background: transparent;
}
QHeaderView#videoListHHeader::section{
    background: rgba(255,255,255,0.6);
    color: #000000;
    border: none;
    font-style: normal;
}
QHeaderView#videoListHHeader::section:first{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
QHeaderView#videoListHHeader::section:last{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
QHeaderView#videoListVHeader{
    background: transparent;
}
QHeaderView#videoListVHeader::section{
    background: rgba(255,255,255,0.6);
    color: #000000;
    border: none;
    font-style: normal;
}
QHeaderView#videoListVHeader::section:first{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
QHeaderView#videoListVHeader::section:last{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
QTableWidget::item{
    background: rgba(236,236,236,0.6);
    border-width: 0px;
    color: #000000;
}
QTableWidget::item:selected{
    background: rgba(0,128,255,0.8);
}

/* settings button */
QToolButton#settings{
    background: rgba(177,177,177,0);
    border-radius: 15px;
    border-image: url(./required/buttons/settings.svg);
}
QToolButton#settings:hover{
    background: rgba(177,177,177,0.5);
}
QToolButton#settings:pressed{
    background: rgba(177,177,177,0.7);
}
/* settings page */
QWidget#settingsPage{
    background: #fcfcfc;
    border: none;
    border-radius: 15px;
}
QWidget#settingsWidget{
    background: transparent;
    border-radius: 15px;
}
QLabel#settingsTitle{
    background: transparent;
    font-size: 80px;
    font-weight: bold;
}
QToolButton#settingsClose{
    background: transparent;
    border-radius: 15px;
    border-image: url(./required/buttons/settingsClose.svg);
}
QToolButton#settingsClose:hover{
    background: #ef2233;
    border-image: url(./required/buttons/settingsClose_hover.svg);
}
QToolButton#settingsClose:pressed{
    background: #df1d2c;
}
QWidget#settingsSplitline{
    background: #cecece;
}
QTabWidget#settingsContent{
    background: transparent;
    border: none;
    border-radius: 15px;
}
QTabBar#settingsContentSelector{
    background: transparent;
    border: none;
}
QTabBar#settingsContentSelector::tab{
    background: #ececec;
    border: none;
    border-radius: 10px;
    min-height: 80px;
    margin: 3px;
    font-family: 'Consolas','Microsoft YaHei UI';
    font-size: 36px;
}
QTabBar#settingsContentSelector::tab:first{
    width: 240px;
}
QTabBar#settingsContentSelector::tab:last{
    width: 290px;
}
QTabBar#settingsContentSelector::tab:hover{
    background: #5098ff;
}
QTabBar#settingsContentSelector::tab:selected{
    background: #007aff;
}

QWidget#recordSettings{
    background: transparent;
}
QLabel#record-fpsLabel{
    background: transparent;
    font-size: 43px;
}
QRadioButton#record-fps{
    background: transparent;
    font-size: 40px;
    font-family: 'Consolas','Microsoft YaHei UI';
}
QRadioButton#record-fps::indicator{
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
    border-style: outset;
    border-radius: 14.5px;
    border-color: #000000;
    border-width: 2px;
}
QRadioButton#record-fps::indicator:hover{
    background: #00aaff;
}
QRadioButton#record-fps::indicator:pressed{
    background: #0066ff;
}
QRadioButton#record-fps::indicator:checked{
    background: #0088ff;
}
